body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#myButton {
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    color: white;
    background-color: blueviolet;
}

.labelHeaders {
    font-size: 2em;
    padding: 5px 25px;
    border-radius: 5px;
    color: blueviolet;
}

.myLabels {
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}